<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.chad2li.baseutil.mybatis.mapper.IDemoMapper">

    <select id="selectByNameAge" resultType="io.github.chad2li.baseutil.mybatis.dao.DemoDao">
        select *
        from demo
        where name = #{name}
          and age = #{age}
        limit 1
    </select>

</mapper>